@{
    ViewBag.Title = "Pictures";
}





<h2>Pictures and News</h2>
<h1> <font color="white">News Around the world </font> </h1>
<br />

<p align="left">
    <font color="light-blue">
        <strong>
            Login to create comments.
        </strong>
    </font>
</p>


<form>
    <font color="white">
        Name/Email-Address:<br>
        <input type="text" name="Name or Email-Address" font><br>
        Password:<br />
        <input type="password" name="Password">
    </font> <br> <br />

   

    <input type="reset"> <br />

</form>
<br />


<style>
    * {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        font-size: 68%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        padding: 0;
        background-color: darkslategrey;
    }

    img {
        border-radius: 0.5rem;
    }

    ol,
    ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li {
        font-size: 1.1rem;
        list-style-type: none;
        position: relative;
        margin: 0.5rem;
    }

        li p {
            padding: 1rem;
            color: white;
        }

        li div {
            width: 100%;
            height: 250px;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: rgba(0,0,0,75);
            border-radius: 10px;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-box-shadow: 0px 0px 15px 2px #dddddd;
            box-shadow: 0px 0px 15px 2px white;
            -webkit-transition: all 2s ease 1s;
            transition: all 2s ease 1s;
        }

        li:hover div {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }
</style>
<div class="row">
    <div class="col-xs-1">
        <a id="backbtn" href="#" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
    <div class="col-xs-10">
        <div class="container-a4">
            <ul class="caption-style-4">
                <li>
                    <img src="~/Content/Pictures/BESTPIX-Boxing-at-Wembley-Stadium.jpg"
                         class="images"
                         style="display: inline;" />
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>Wladimir Klitschko ends his career</h1>
                            <p>
                                Wladimir Klitschko has finished his career as a boxing professional after careful consideration. Even the prospect of a million-strong rebuff against Anthony Joshua could not convince the Ukrainians any more. The 41-year-old became a professional in 1996 and has since then played 69 bouts (64 wins, 54 knockouts). Klitschko was from 2000 to 2003 and from 2006 to 2015 heavyweight world champion.

                                "After my last fight against Anthony Joshua, I was deliberately taking the time to make a decision," Klitschko said. "I've achieved everything as an amateur and a professional, and I am now able to meet the exciting career after the career." Steelhammer had the option of a kick-off against Joshua.

                                World champion Joshua had spoken out for a kick-off. The Briton announced that he would also be forced to lay down his IBF title in case of need, in order not to stand in the way of a kick-off. The IBF had appointed Sauerland boxer Kubrat Pulew as a duty-challenger and demanded that Joshua must first fight against the Bulgarian. Joshua is also the title holder of the WBA and the smaller association IBO.

                                Exciting fight

                                Joshua and Klitschko had a struggling fight on the 29th April in front of 90,000 spectators at Wembley Stadium. Klitschko lost in the eleventh round by Technical K.o. The referee broke off the fight after getting caught on the ropes in a hit of the British. Before that, Klitschko had gone to the ground three times, Joshua.
                                <style>
                                    table {
                                        font-family: arial, sans-serif;
                                        border-collapse: collapse;
                                        width: 100%;
                                    }

                                    td, th {
                                        border: 1px solid #dddddd;
                                        text-align: left;
                                        padding: 8px;
                                    }

                                    tr:nth-child(even) {
                                        background-color: #dddddd;
                                    }
                                </style>

                                <table>
                                    <tr>
                                        <th>Fights</th>
                                        <th>Wins</th>
                                        <th>K.-O.-Wins</th>
                                        <th>Defeats</th>
                                    </tr>
                                    <tr>
                                        <td>69</td>
                                        <td>64</td>
                                        <td>54</td>
                                        <td>5</td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                    </div>
                </li>





                <li>
                    <img src="~/Content/Pictures/Flugzeug-mit-Kondensstreifen-airplane-with-vapour-trail.jpg"
                         class="images"
                         alt="Kim Jong Uns rocket missed Air-France-Machine apparently to around five minutes." />
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>Kim Jong Un launched a new rocket</h1>
                            <p>
                                According to media reports, North Korea's rocket tests are a major threat to passenger engines. CNN and ABC News are consistent. On Friday, a French passenger aircraft of Air France, with 323 passengers on board, flew over the area, where a North Korean rocket hit shortly before.

                                On Friday, North Korea tested a long range missile for the second time within a month. At the same time, the country claimed that it was able to "hit every point in the USA" with rockets.
                            </p>

                        </div>
                    </div>
                </li>


                <li>
                    <img src="~/Content/Pictures/o-WERBUNG-facebook.jpg"
                         class="images"
                         alt="Athen brennt" />
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>Athen is burning!</h1>
                            <p>In Greece protests are out of control. Parliament had expressed confidence in Prime Minister Giorgos Papandreou. More than 20,000 demonstrators gathered in front of the House of Representatives. </p>
                        </div>
                    </div>
                </li>



                <li>
                    <img src="~/Content/Pictures/Bitcoins-And-U-S-Dollar-Notes-As-IMF-Vouches-For-Virtual-Currencies.jpg"
                         class="images"
                         alt="The Bitcoin-World splits in two parts." />
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>The Bitcoin-World splits in two parts.</h1>
                            <p>Bitcoins still exist. They noticed at Thuesday fluctations around 2700 Dollar. However, there is now a second variant of the digital currency, which has split off from the original: BitcoinCash. The price for one of those Cash-Bitcoins lies at around 400 Dollars </p>
                        </div>

                    </div>

                </li>



                <li>
                    <img src="~/Content/Pictures/Beiersdorf-AG-Annual-Press-Conference.jpg"
                         class="images"
                         alt="How a hacker attack weakens Beiersdorfs turnnover. " />
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>How a hacker-attack weakens Beiersdorfs turnover</h1>
                            <p>
                                The severe hacker attack At the end of June, the Nivea manufacturer Beiersdorf temporarily lost around 35 million euros in sales. In the first six months, the Group's sales increased by 3.3 percent compared to the same period of the previous year to 3.51 billion euros, Beiersdorf said on Thursday in Hamburg.

                                Without the attack on the company's computer systems, it would have been 4.4 percent. "This turnover is not lost but moved," said Beiersdorf CEO Stefan F.Heidenreich. Sales would be recovered in the third quarter; The outlook for the full year.

                                Individual transactions could no longer be executed, others were delayed. A cyber attack had paralyzed a number of companies and authorities around the world at the end of June. These included the US pharmaceutical group Merck, the logistics giant FedEx and the Maersk shipping company. The perpetrators wanted to extort huge sums of money. According to Heidenreich, Beiersdorf did not pay.
                            </p>
                        </div>
                    </div>
                </li>
                </ul>

        </div>
    </div>
    <div class="col-xs-1">
        <a id="forwardbtn" href="#" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>



    <br />





</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(
            function () {
                $('#forwardbtn').click(function () {

                    var Liste = $('img');
                    $(Liste).each(function (index, e) {
                        if ($(e).is(":visible")) {
                            $(e).fadeOut('slow', function () {
                                if (index == Liste.length - 1) {
                                    $(Liste[0]).fadeIn();
                                } else {
                                    $(Liste[index + 1]).fadeIn();
                                }
                            });

                            return false;
                        }
                    });
                });
                $('#backbtn').click(function () {

                    var Liste = $('img');
                    $(Liste).each(function (index, e) {
                        if ($(e).is(":visible")) {
                            $(e).fadeOut('slow', function () {
                                if (index == 0) {
                                    $(Liste[Liste.length - 1]).fadeIn();
                                } else {
                                    $(Liste[index - 1]).fadeIn();
                                }
                            });

                            return false;
                        }
                    });

                });
            }
        );
    </script>